@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  list-style: none;
}

.root {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

.dash-icon {
  width: 45px;
  filter: brightness(0) saturate(100%) invert(83%) sepia(100%) saturate(0%)
    hue-rotate(329deg) brightness(101%) contrast(105%);
}

.filter-white {
  width: 20px;
  filter: brightness(0) saturate(100%) invert(83%) sepia(100%) saturate(0%)
    hue-rotate(329deg) brightness(101%) contrast(105%);
}

.nav-bar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  color: #ffffff;
  background-color: #1a92d3;
  font-weight: 500;
  display: grid;
  padding-left: 1rem;
  grid-template-rows: 10% 40% 30%;
}

.nav-bar ul {
  display: grid;
  grid-template-columns: 50px 100px;
  place-items: center;
}

.header {
  background-color: aqua;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.content-container {
  background-color: beige;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
